.address-add-button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}
.address-add-button_wrap {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
