
.order-container {
  position: relative;
  width: 100%;
  height:100%;
}
.not-login-container {
  position: absolute;
  top: 30%;
  left: 20%;
}
.not-login-content {
  display: flex;
  text-align: center;
}

.order-list {
}
