.cart-close {
  background-color: red;
}
.cart-container {
  position: relative;
  height: 100%;
}
.cart-no-container {
  text-align: center;
  padding: 50% 0;
}

.cart-container__bottom {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: white;
}
.cart-container__popup {
  z-index: -1;
}
.cart-container__bottom--button {
  position: fixed;
  bottom: 20px;
  width: 90%;
  /*还需要仔细研究如何居中显示*/
  left: 4%;
}
.cart-container__tip {
  font-weight: lighter;
  text-align: center;
}
.van-popup__custom--container_cross {
  margin: 5px 0px;
}
.cart-container__bottom--line {
  width: 100%;
  height: 1px;
  border-top: solid #ACC0D8 1px;
}
.cart-container__bottom--fee {
  font-size: 10px;
  padding-left: 10px;
}
.cart-container__bottom--total {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-container__fitting--nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.cart-container__popup--detail {
  padding-bottom: 10px;
}

.cart-container__popup {
  position: relative;
}
.cart-container__fitting {
  padding-top: 10px;
  background-color: white;
  height: 200px;
}
.van-popup__custom--container_detail {
  display: flex;

  flex-wrap: wrap;

  text-align: center;

  justify-content: space-between;

  list-style: none;

  margin-left: 0;
}
.van-popup__custom--container_detail_item {
}


