.buyvip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-vip-button {
  position: fixed;
  bottom: 10px;
  width: 90%;
}
.buy-vip-cell {
  width: 90%;
  margin-top: 20px;
}
