
.balance-summary__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 12px;
}
.balance-summary__total {
  background-color: white;
  font-size: 30px;
  color: green;
  display: flex;
  justify-content: center;
}
.coupon-list {
  padding-bottom: 100px;
}
.coupon-redeem {
  position: fixed;
  bottom: 0;
  width: 100%;
}
