.evaluation-add-button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.evaluation-add-button_wrap {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
.evaluation-switch {
  display: flex;
  margin: 10px 0px;
  padding-bottom: 60px;
  padding-left: 10px;
}

.total-tags {
  display: flex;
  justify-content:space-around;
}
.evaluation-total {
  background-color: white;
  margin: 5px;
  padding: 5px;
}
.deliver-info_user {
  font-size: 14px;
  text-align: center;
  padding: 10px 0px;
}
.deliver-info_time {
  font-size: 14px;
}
.deliver-info {
  font-size: 20px;
}
.total-score {
  text-align:center;
}
