
.redeem-title {
  font-size: 14px;
  font-weight:bolder;
  padding: 10px;
  color: #CDA65B;
  background-color: white;
  border-bottom: 1px solid #f2f2f2;
}

.redeem-header-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 5px 0px;
}

.redeem-header-operation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 10px 0px;
}

.redeem-header-operation_left {
  font-size: 14px;
  font-weight: bolder;
}
.redeem-header-operation_right {
  font-size: 14px;
  font-weight: bolder;
}
.redeem-header-operation_split {
  float:left;
  width: 1px;
  height: 20px;
  background: #e6ebf3;
}
.redeem-detail {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.redeem-detail-item {
  flex: 0 0 33%;
  padding: 10px 10px;
}
