.redeemdetail-container {

}
.redeemdetail-header {
  background-color: white;
}
.redeemdetail-pic {
  width: 100%;
  height: 200px;
  background-color: #F4F4F4;
}
.redeemdetail-header-content {
  padding: 10px 10px;
}
.redeemdetail-desc {
  margin-top: 10px;
  white-space: pre-line;
  background-color: white;
  padding-left: 10px;
}

.redeemdetail-pic-item {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  margin: 5% 10%;
}
.redeemdetail-operation {
  position: fixed;
  bottom: 0px;
  display: flex;
  background-color: white;
  width: 100%;
}
